.aside {
    height: calc(100vh - 137px);
}

.main_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

p.main_header {
    font-size: 3em;
    font-weight: bold;
    color: #AF8965;
}

.main_container__container {
    display: flex;
    gap: 26px;
    align-items: center;
    width: 100%;
}

.main_container__container img {
    width: 170%;
    height: 100%;
}

.main_container__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
}

.main_container__text p {
    font-size: 1em;
    font-weight: bold;
}
